.bgAdvisor {
  background-image: url("/images/post6.jpg");
  background-size: cover;
  background-position: center !important;
  height: 400px;
  top: 0;
  margin: 0 auto;
}

/* .bgAdvisor::after {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
} */
